.login-container
{
  display: flex;
  justify-content: center;
  background-color: white;
  height: fit-content;
  padding: 10px 50px 40px 50px;
  width: fit-content;
  justify-self: center;
  margin-top: 12rem;
  box-shadow: 2px 2px 250px 0px rgba(212, 176, 111, 0.25);
  
}

h3
{
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.login-button
{
  background-color:#63A088 ;
  color:white;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  height: 35px;
  width:320px;
  border: none;
  
  font-size: 20px;
  margin-top: 10px;

}

/* input
{
  width:300px;
  height: 30px;
  border: 2px solid #F6E7CB;
  background-color: #FFFBF2;
  padding: 2px 0px 2px 15px;
  margin-top: 5px;
} */

body
{
  background-color: #fffbf2;
}